@font-face {
    font-family: Pokemon;
    src: url("./assets/pokemon_font/Pokemon\ Solid.ttf") format('truetype');
}


@font-face {
    font-family: Roboto;
    src: url("./assets/roboto_font/Roboto_SemiCondensed-Regular.ttf") format('truetype');
}


* {
    margin: 0;
}


body {
    height: 100vb;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 52, 52);
}


header {
    background-color: rgb(94, 94, 94);
}


main {
    padding-top: 80px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#pokedex {
    flex-direction: row;
    flex-wrap: wrap;
}


#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}


footer {
    background-color: rgb(94, 94, 94);
}


.normal {
    background-color: rgba(168, 168, 153, 0.6);
    border-color:  rgb(168,168,153);
}


.fire {
    background-color: rgb(229,59,25,0.6);
    border-color:  rgb(229,59,25);    
}


.water {
    background-color: rgb(39,139,204,0.6);
    border-color:  rgb(39,139,204);    
}


.electric {
    background-color: rgb(229,198,0,0.6);
    border-color:  rgb(229,198,0);    
}


.grass {
    background-color: rgb(88,169,81,0.6);
    border-color:  rgb(88,169,81);    
}


.ice {
    background-color: rgb(104,186,172,0.6);
    border-color:  rgb(104,186,172);    
}


.fighting {
    background-color: rgb(168,76,61,0.6);
    border-color:  rgb(168,76,61);    
}


.poison {
    background-color: rgb(134,74,184,0.6);
    border-color:  rgb(134,74,184);    
}


.ground {
    background-color: rgb(149,104,51,0.6);
    border-color:  rgb(149,104,51);    
}


.flying {
    background-color: rgb(135,181,229,0.6);
    border-color:  rgb(135,181,229);    
}


.psychic {
    background-color: rgb(229,89,115,0.6);
    border-color:  rgb(229,89,115);    
}


.bug {
    background-color: rgb(131,173,37,0.6);
    border-color:  rgb(131,173,37);    
}


.rock {
    background-color: rgb(168,153,91,0.6);
    border-color:  rgb(168,153,91);    
}


.ghost {
    background-color: rgb(99,60,100,0.6);
    border-color:  rgb(99,60,100);    
}


.dragon {
    background-color: rgb(77,100,171,0.6);
    border-color:  rgb(77,100,171);    
}


.dark {
    background-color: rgb(70,62,62,0.6);
    border-color:  rgb(70,62,62);    
}


.steel {
    background-color: rgb(153,153,168,0.6);
    border-color:  rgb(153,153,168);    
}


.fairy {
    background-color: rgb(212,128,207,0.6);
    border-color:  rgb(212,128,207);    
}