#currentPkmCard {
    width: 600px;
    height: 960px;
    position: fixed;
    top: 10%;
    border-radius: 32px;
    border-style: solid;
    border-width: 16px;
    border-color:  rgb(219, 221, 224) !important;
    flex-direction: column;
    flex: 1;
    z-index: 4;
    box-shadow: 0px 0px 16px 8px  rgb(219, 221, 224);
    color: rgb(50, 50, 50);
}


#currentPkmCardOverview {
    width: 100%;
    padding-bottom: 12px;
}


#currentPkmTitle {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(219, 221, 224, 0.1);
}


#currentPkmId {
    width: 10%;
    padding-left: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
}


#currentPkmName {
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
    overflow: hidden;
    font-family: Pokemon;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 6px;
}


#closeCurrentPkm {
    width: 10%;  
    padding-right: 16px;
    border: none;
    background-color: transparent;
    filter: brightness(150%);
    z-index: 1;
}


#closeCurrentPkm:hover {
    cursor: pointer;
}


#currentPkmFrame {
    width: 100%;
    height: 344px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.arrow {
    width: 32px;
    height: 160px;
    padding: 0 8px 0 8px;
    object-fit: fill;
    filter: invert(85%);
}


.arrow:hover {
    cursor: pointer;
    transform: scale(108%);
}


#currentPkmImg {
    height: 100%;
    width: 380px;
    padding: 80px 64px 0 64px;
    align-self: end;
    object-fit: contain;
    overflow: visible;
    filter: drop-shadow(0 0 12px rgba(255,255,255));
}


.current_pkm_navbar {
    height: 48px;
    margin: 8px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(180, 180, 180, 0.5);
}


.current_pkm_navbar button {
    border: none;
    background-color: transparent;
    color: rgb(150, 150, 150);
    font-family: Roboto;
    font-size: 22px;
    font-weight: 550;
}


.current_pkm_navbar button:hover {
    cursor: pointer;
    transform: scale(120%);
    color: rgb(120, 120, 120);
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-thickness: 4px;
}


#currentPkmCardContent {
   width: 100%;
   height: 100%; 
   background-color:rgb(219, 221, 224); 
   border-top-left-radius: 32px;
   border-top-right-radius: 32px;
}


#currentPkmInfo {
    max-height: 482px;
}


.section_about {
    padding: 64px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.info_category {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    color: rgb(120, 120, 120);
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
}


.section_about div {
    flex: 0.5;
}


#typesIcons img {
    height: 40px;
    width: 40px;
    margin: 0 8px 0 8px;
    padding: 24px;
    border-width: 4px;
    border-style: solid;
    border-radius: 90px;
    overflow: visible;
}


.section_stats {
    padding: 64px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.section_stats div {
    flex: 0.35;
}


.stat_value {
    width: 100%;
    flex: 1 !important;
}


.progress_bar {
    height: 20px;
    max-width: 255px;
    margin-left: 24px;
    border-radius: 16px;
    background-color: rgb(180, 180, 180, 0.5);
    flex: 1 !important
}


.progress_bar div {
    height: 100%;
    border-radius: 16px;
}


.section_evoluion {
    width: 100%;
    height: 482px;
    flex-direction: row;
    gap: 24px;
}


.evolution_img {
    height: 120px;
    width: 120px;
}


.evolution_arrow {
    height: 64px;
    width: 32px;
    object-fit: cover;
}


.section_sound {
    width: 100%;
    height: 482px;
    flex-direction: column;
    color: rgb(150, 150, 150, 0.7);
    font-family: Roboto;
}


#currentPkmImgSound {
    height: 240px;
    width: 240px;
    padding-bottom: 48px;
}


#currentPkmImgSound:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 12px rgb(150, 150, 150));
    transform: scale(108%);
}