.resp_height {
    height: 160px;
}


.resp_padding {
    padding-left: 80px;
    padding-right: 80px;
}


.position_top {
    position: relative;
    top: -128px;
}


.d_none {
    display: none !important;
}


.display_flex_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}